

.navbar{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    padding: 5px 2rem;
    gap: 1rem;
    background-color: #000;
    a{
        position: relative;
        color: #fff;
        .amount{
            position: absolute;
            left: 1rem;
            top: 1rem;
            padding: 2px;
            width: 1.4rem;
            height: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            color: #000;
            border-radius: 50%;
            border: 1px solid;
        }
    }
}